.footer {
    background-color: #333;
    height: 15em;
    padding: 5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer-img {
    height: 4em;
    width: 4em;
    filter: invert(1);
    margin: 0.5em;
}
footer > div > p {
    margin-top: 5em;
}
.footer--links {
    margin-top: 2em;
}
.footer--links > a {
    margin: 1em;
}