.heading {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    padding: 1em;
    text-transform: capitalize;
    margin-top: 3em;
}
.founder-img {
    width: 15em;
    border-radius: 50%;
    border: 5px solid white;
}
.founder-container {
    display: flex;
    justify-content: center;
    gap: 4em;
}
.founder-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.founder-container2 > span {
    margin: 1.1em;
    font-size: 1.5rem;
    font-weight: 700;
}
.started-container {
    display: grid;
    grid-template-columns: repeat(2, 20vw);
    gap: 2em;
    justify-content: center;
}
.started-container p {
    line-height: 1.6;
    font-size: 1.2;
}