header {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  margin: 0 3em;
  overflow: visible;
}
.header-txt {
  /* font-family: "Playfair Display"; */
  font-size: 7vw;
  line-height: 1.05;
  font-weight: 700;
  max-width: 13ch;
  overflow-x: visible;
}
.fw-900 {
  font-weight: 900;
  background: #fc4a1a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.header-img {
  width: 90%;
  border: 3% solid black;
  border-radius: 50%;
}
@media only screen and (max-width: 800px) {
  header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    margin-bottom: 4em;
  }
  .header-img {
    max-width: 90%;
    margin-top: 1em;
  }
  .header-txt {
    font-size: 10vw;
  }
  .header-txt-img {
    width: 80%;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .header-txt-img .btn {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .header-txt-img .btn > a {
    margin-top: 0;
  }
}
.btn {
  text-align: center;
  margin: 2em 0 5em 0;
  overflow: visible;
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.btn > a {
  border: 2px #eee solid;
  padding: 0.25em 2em;
  background-color: #eee;
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  filter: opacity(90%);
  border-radius: 500em; /* Setting this to a high number glitches it and makes it a pill shape */
  margin-top: 3em;
}
.btn > a:hover {
  background-color: #fff;
  border: 2px solid #fff;
  filter: opacity(100%);
}
.btn > a + a {
  margin-left: 2em;
}
