main {
  z-index: 20;
  left: 0;
  position: relative;
  background-color: #222;
  padding: 0;
  height: 100vh;
}
.heading {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  padding: 1em;
  text-transform: capitalize;
}
input[type="date"],
input[type="time"] {
  color: black;
  cursor: pointer;
}
.reserve-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.container label,
.container input {
  display: block;
  font-size: 1.5em;
}
.container input {
  color: black;
  font-family: "Lato";
  margin-top: 0.5em;
  padding: 0.5em;
  border: none;
  width: 78%;
}
button {
  color: black;
  font-size: 2.5rem;
  background-color: #ccc;
  border: none;
  border-radius: 500em;
  padding: 0.5em;
  margin-top: 1em;
}
button:hover {
  background-color: #fff;
  cursor: pointer;
}
@media only screen and (max-width: 800px) {
  .reserve-flex {
    flex-direction: column;
  }
  .reserve-flex + div {
    color: red;
  }
}
#confirm {
  position: fixed;
  bottom: 2em;
  border: 2px solid #fff;
  background: #fff;
  text-align: center;
  width: 90%;
  height: 100px;
  border-radius: 500em;
}
#confirm P,
#confirm h2 {
  color: black;
}
#confirm h2 {
  font-size: 2em;
}
#confirm p {
  font-size: 1.5em;
}
.center {
  display: flex;
  justify-content: center;
}
