/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #1f1714;
  background-color: #1f1714;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #332722;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #3f3a38;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #1f1714;
  background: #1f1714;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 440px) {
  .tab button {
    font-size: 2.5vw;
  }
}
.sm-heading {
  text-align: center;
  font-size: 2.4em;
  font-weight: 700;
  padding: 1em;
  text-transform: capitalize;
}
.tab-grid {
  display: grid;
  margin: 3em 3em;
  grid-template-columns: repeat(9, 100%);
  gap: 5%;
  overflow-x: scroll;
  position: static;
  scroll-snap-type: x mandatory;
  padding: 2em;
}
.tab-container {
  border: 1em solid #ccc;
  border-radius: 2em;
  background-color: #ccc;
  width: 100%;
  margin: 2em;
  scroll-snap-align: center;
  user-select: none;
}
.tab-container > img {
  width: 100%;
  aspect-ratio: 1;
}
.tab-text {
  color: black;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.6;
  font-weight: 400;
  background-color: transparent;
  text-decoration: none;
}
@media only screen and (max-width: 800px) {
  .tab-container {
    border: 0.8em solid #ccc;
    border-radius: 2em;
    background-color: #ccc;
    width: 100%;
    margin: 2em;
    scroll-snap-align: center;
    user-select: none;
  }
  .tab-grid {
    padding: 1em;
  }
}
